html {
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: black;
}

.mainContent {
    width: 1440px;
    height: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f7f8;
}

/* ---  login Head  --- */

.loginHead {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 63.5px;
}

.loginLogo img {
    width: 100px;
    height: 122px;
    margin-left: 77px;
    margin-top: 80px;
}

.loginSignUp {
    margin-right: 122px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.singUpButton {
    width: 91px;
    height: 49px;
    border: none;
    border-radius: 8px;
    padding: 16px 15px;
    background-color: #2a3647;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    margin-left: 35px;
}

.signUpText {
    font-size: 20px;
    font-weight: 400px;
    line-height: 24px;
}

/* --- login innerContent --- */

.innerContent {
    background-color: white;
    width: 652px;
    height: 493px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginHeadline {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginHeadlineh1 {
    text-align: center;
    font-size: 61px;
    line-height: 73.2px;
    font-weight: bold;
    margin-bottom: 16px;
}

.headlineBorder {
    width: 150px;

    border-bottom: 3px solid #29abe2;
    border-radius: 8px;
}

.loginForm {
    display: flex;
    flex-direction: column;
}

.loginInputMail {
    width: 422px;
    height: 48px;
    gap: 8px;
    margin: 16px;
    background-image: url(/assets/img/mail.png);
    background-repeat: no-repeat;
    background-position: 377px 12px;
    background-size: 24px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    text-indent: 21px;
}

.loginInputMail::placeholder {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #d1d1d1;
    transform: translateY(10%);
}

.loginPassword {
    width: 422px;
    height: 48px;
    gap: 8px;
    margin: 16px;
    background-image: url(/assets/img/lock.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position: 377px 12px;
    background-size: 24px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    text-indent: 21px;
}

.loginPassword::placeholder {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #d1d1d1;
    transform: translateY(10%);
}

/* start comment-Section*/
.firstLetter {
    width: 352px;
    height: 58px;
    padding: 36px 17px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.spaceContactList {
    width: 352px;
    height: 1px;
    padding: 0px 8px;
    background-color: #d1d1d1;
}

.singleNameList {
    width: 352px;
    height: 78px;
    margin: 0;
    padding: 24px 15px;
    border: #2a3647 1px solid;
}
/* end comment-Section*/
