html {
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: black;
}

.mainContent {
    width: 1440px;
    height: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f7f8;
}

/* ---  login Head  --- */

.loginHead {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.loginLogo img {
    width: 100px;
    height: 122px;
    margin-left: 77px;
}

.loginSignUp {
    margin-right: 122px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginHeadline {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginHeadlineh1 {
    text-align: center;
    font-weight: bold;
}

.headlineBorder {
    width: 150px;
    border-bottom: 3px solid #29abe2;
    border-radius: 8px;
}

.singUpButton {
    width: 91px;
    height: 49px;
    border: none;
    border-radius: 8px;
    padding: 16px 15px;
    background-color: #2a3647;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
}

/* --- login innerContent --- */

.innerContent {
    background-color: white;
    width: 652px;
    height: 493px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
}

.loginInputMail {
    width: 422px;
    height: 48px;
    gap: 8px;
    margin: 16px;
}

.loginPassword {
    width: 422px;
    height: 48px;
    gap: 8px;
    margin: 16px;
}
