.d-none {
    display: none;
}

.d-noneIMP {
    display: none !important;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-SpAroundCe {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.d-flDirCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dispflexSpaBe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
