body {
    margin: 0;
    font-family: sans-serif;
}

.helpMainContent {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #f6f7f8;
}

.bg-white {
    background-color: white;
}

.w3Header {
    width: 100%;
}

.w3Sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.helpPosContainer {
    position: fixed;
    top: 73px;
    margin-left: 232px;
    padding-left: 96px;
    padding-right: 98px;

    height: 93%;
}

.headHighlight {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.helpArrowLeft {
    padding-top: 75px;
}

.helpArrowLeft img {
    width: 21.3px;
    height: 20.7px;
    cursor: pointer;
}

.helpTextContainer {
    max-width: 1208px;
}

.helpTextarea {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90vh;
}

span {
    color: #29abe2;
}

.helpTextarea::-webkit-scrollbar {
    display: none;
}

.helpHeadline {
    font-size: 61px;
    margin-top: 110px;
}

.headerHelp img {
    display: none;
}
ol {
    counter-reset: my-counter;
    padding-left: 0; /* Verhindert das Standard-Einrücken der Nummerierung */
}

ol li {
    list-style: none; /* Entfernt die standardmäßige Nummerierung */
    counter-increment: my-counter; /* Zählt die Nummerierung hoch */
    display: flex; /* Verwendet Flexbox für die Ausrichtung */
    align-items: flex-start; /* Obere Ausrichtung der Elemente */
    margin-bottom: 10px; /* Abstand zwischen den Listenpunkten */
}

ol li::before {
    content: counter(my-counter); /* Fügt die Nummerierung ein */
    font-size: 1.9em; /* Größere Schrift für die Nummerierung */
    font-weight: bold; /* Optional: Fettschrift für die Nummerierung */
    margin-right: 15px; /* Abstand zwischen Nummerierung und Text */
    align-self: flex-start; /* Obere Ausrichtung der Nummerierung */
    line-height: 2.2; /* Behebt die vertikale Ausrichtung */
}
/* ::marker {
    content: "";
} */
