body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

.helpMainContent {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #f6f7f8;
}

.bg-white {
    background-color: white;
}

.w3Header {
    width: 100%;
}

.w3Sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.helpPosContainer {
    position: fixed;
    top: 73px;
    margin-left: 232px;
    padding-left: 96px;
    padding-right: 98px;

    height: 93%;
}

.headHighlight {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.helpArrowLeft {
    padding-top: 75px;
}

.helpArrowLeft img {
    width: 21.3px;
    height: 20.7px;
    cursor: pointer;
}

.helpTextContainer {
    max-width: 1208px;
}

.helpTextarea {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90vh;
    scrollbar-width: none;
}

span {
    color: #29abe2;
}

.helpTextarea::-webkit-scrollbar {
    display: none;
}

.helpHeadline {
    font-size: 61px;
    margin-top: 70px;
}

.headerHelp img {
    display: none;
}
ol {
    counter-reset: my-counter;
    padding-left: 0;
}

ol li {
    list-style: none;
    counter-increment: my-counter;
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

ol li::before {
    content: counter(my-counter);
    font-size: 1.9em;
    font-weight: bold;
    margin-right: 15px;
    align-self: flex-start;
    line-height: 2.2;
}

.LNoticeMail {
    text-decoration: none;
}

ul li {
    margin-left: -15px;
}
