@media screen and (max-width: 1220px) {
    .summaryTextJoin {
        font-size: 50px;
        margin-left: 20px;
        transition: 0.4s;
    }
    .summaryTextH2 {
        font-size: 24px;
    }
    .summaryWelcomeDaytimeContainer {
        font-size: 36px;
    }
    .summaryWelcomeContainer {
        margin-left: 40px;
    }
    .summaryInfoContentContainer {
        margin-left: 20px;
        transition: 0.4s;
    }
}

@media screen and (max-width: 1050px) {
    .row3,
    .row2,
    .row1 {
        height: 140px;
    }
    .summaryInfoContentContainer {
        height: 500px;
        margin-right: 20px;
    }
    .summaryWelcomeContainer {
        display: none;
    }
    .tasksNum {
        margin-top: 5px;
    }
}

@media screen and (max-width: 900px) {
    .headerHeadline {
        margin-left: 64px !important;
        transition: 0.4s;
    }
}

@media screen and (max-width: 800px) {
    .summaryTextJoin {
        font-size: 45px;
    }
    .summaryTextH2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 750px) {
    .headerHeadline {
        display: none;
    }
    .headerHeadlineImage {
        display: block !important;
        margin-left: 16px;
        margin-top: 5px;
    }
    .headerHeadlineImage img {
        width: 32px;
        height: 39px;
    }
    .summaryMainContent {
        display: block;
    }
    .w3Sidebar {
        position: absolute;
        top: auto;
        right: 0;
    }
    .sidebarMainContainer {
        width: 100vw !important;
        height: 80px !important;
        display: flex;
    }
    .summaryContentContainer {
        padding-left: 0;
    }

    .helpContentContainer {
        padding-left: 0;
    }
    .headerMainContainer {
        left: 0 !important;
    }
    .sidebarImgContainer {
        display: none !important;
    }
    .sidebarFooter {
        display: none !important;
    }
    .sibebarNavContainer {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-bottom: 0 !important;
        margin-top: 3px;
    }
    .sidebarLinkStyle {
        width: auto !important;
        flex-direction: column;
        border-radius: 16px;
        width: 80px !important;
        height: 76px !important;
        justify-content: center;
    }
    .sidebarLinkStyle img {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .helpPosContainer {
        height: 83%;
        margin-left: 0;
    }
    .helpHeadline {
        margin-top: 70px;
    }

    .helpArrowLeft {
        padding-top: 49px;
    }
    .helpTextarea {
        height: 83.3vh;
    }
}

@media screen and (max-width: 550px) {
    .summaryContentContainer {
        height: 800px;
        padding-top: 40px;
        transition: 0.4s;
    }
    .summaryHead {
        flex-direction: column;
        align-items: start;
    }
    .summaryTextH2 {
        margin-left: 20px;
    }

    .summaryInfoContentContainer {
        height: 500px;
    }
    .summaryInfoContainer {
        width: 90vw;
    }
    .summaryTextJoinBoarder {
        display: none;
    }
    .summaryTextJoinBoarder2 {
        border-right: 0;
        border-top: 3px solid #29abe2;
        height: 3px;
        width: 90px;
        margin-top: 10px;
        margin-left: 20px;
    }

    .helpContentContainer {
        height: 800px;
        padding-top: 40px;
        transition: 0.4s;
    }
    .helpPosContainer {
        padding-left: 40px;
        padding-right: 40px;
        transition: 0.4s;
    }
    .helpHeadline {
        font-size: 47px;
        margin-top: 48px;
    }
    .helpArrowLeft {
        padding-top: 27px;
    }
}

@media screen and (max-width: 500px) {
    .infoContentText1 {
        font-size: 55px;
        margin-bottom: -10px;
    }
    .infoContentText2 {
        font-size: 20px;
    }
    .infoContentImg {
        width: 60px;
        height: 60px;
    }
    .summaryTodoInfoContainer {
        gap: 30px;
    }
    .summaryDoneInfoContainer {
        gap: 30px;
    }
    .row1,
    .row2,
    .row3 {
        height: 110px;
        gap: 25px;
    }
    .tasksNum {
        margin-top: -7px;
        margin-bottom: -13px;
        font-size: 55px;
    }
}

@media screen and (max-width: 400px) {
    .row1,
    .row2,
    .row3 {
        height: 90px;
        gap: 10px;
    }
    .infoContentText1 {
        font-size: 45px;
        margin-top: -15px;
        margin-bottom: -15px;
    }
    .infoContentText2 {
        font-size: 20px;
    }
    .infoContentImg {
        width: 50px;
        height: 50px;
    }
    .summaryTodoInfoContainer {
        gap: 20px;
    }
    .summaryDoneInfoContainer {
        gap: 20px;
    }
    .helpPosContainer {
        padding-left: 16px;
        padding-right: 16px;
        transition: 0.4s;
    }
    .tasksNum {
        margin-top: -13px;
        margin-bottom: -18px;
        font-size: 45px;
    }
    .taskDesc {
        font-size: 16px;
        line-height: 20px;
    }
}

@media screen and (max-width: 361px) {
    .helpContentContainer {
        height: 650px;
    }
    .row1,
    .row2,
    .row3 {
        height: 80px;
        gap: 10px;
    }
    .summaryInfoContentContainer {
        height: 400px;
    }
    .summaryContentContainer {
        height: 650px;
    }
    .infoContentText1 {
        font-size: 35px;
        margin-top: -15px;
        margin-bottom: -15px;
    }
    .infoContentText2 {
        font-size: 12px;
    }
    .infoContentImg {
        width: 40px;
        height: 40px;
    }
    .summaryTodoInfoContainer {
        gap: 10px;
    }
    .summaryDoneInfoContainer {
        gap: 10px;
    }
    .tasksNum {
        margin-top: -18px;
        margin-bottom: -24px;
        font-size: 35px;
    }
    .taskDesc {
        font-size: 14px;
        line-height: 20px;
    }
}
